@import '../base.scss';

.navbar{
    width: 40%;
    height: calc(100% - 60px);
    background-color: var(--background);
    font-family: var(--main-font-family);
   .blocksWrapperOpen{
        position: absolute;
        top:0;
        width: 40%;
        height: 100%;
        padding-left: 10px;
        .brandContainer{
            width: 100%;
            height: 50px;
            @include d-flex-dir-j-a(row, start, center);
            .menuToggler{
                width: 30px;
                height: 30px;
                border-radius: 50%;
                cursor: pointer;
                @include d-flex-dir-j-a(row, center, center);
                &{
                    &:hover{
                        background-color: var(--hover-color);
                    }
                }
                
            }
            .brand{
                width: 80%;
                height: 50px;
                padding-left: 8px;
                @include d-flex-dir-j-a(row, space-evenly ,center);
               .brandTitle{
                font-size: 19px;
               }
            }
        }
        .blockPannel{
            overflow-y: scroll;
            width: 100%;
            height: 95%;
            .divider{
                margin: 5px 10px;
                width: 90%;
                height: 1px;
                background-color:#000;
            }
            .blockTitle{
                margin: 10px 0;
                padding-left: 10px;
                font-size: var(--title);
                font-size: 25px;
                font-weight: 700;
            }
            .itemContainer{
                width: 80%;
                height: 45px;
                border-radius: 10px;
                margin: 1px 0 1px 5px;
                @include d-flex-dir-j-a(row, start, center);
                cursor: pointer;
                img{
                    width: 20px;
                    height: 20px;
                    margin: 0 3px;
                    border: none;
                    border-radius: 50%;
                    object-fit: cover;
                }
                span{
                    margin-left: 10px;
                    @include title-three-dots;
                }
                &{
                    &:hover{
                        background-color: var(--hover-color);
                    }
                }
                
            }
        }
   }

   //toggler closed
   .iconPanel{
        width: 35%;
        height: 93%;
        @include d-flex-dir-j-a(column, start, center);
        .iconItem{
            width: 80%;
            height: 12%;
            cursor: pointer;
            border-radius: 5px;
            @include d-flex-dir-j-a(column, center, center);
            &{
                &:hover{
                    background-color: var(--hover-color);
                }
            }
            
            span{
                font-size: 10px;
            }
        }
   }
}

